<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="timeline">
        <div class="container left-container">
            <FaCalendarAlt className="calendar-icon" />
            <div class="text-box">
                <h2>Desenvolvedor FullStack</h2>
                <small>01/2022 - Atual</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
                <span class="left-container-arrow"></span>
            </div>
            
        </div>

        <div class="container right-container">
            <div class="text-box">
                <h2>Desenvolvedor FullStack</h2>
                <small>01/2022 - Atual</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
                <span class="right-container-arrow"></span>
            </div>
        
        </div>

        <div class="container left-container">
            <div class="text-box">
                <h2>Desenvolvedor FullStack</h2>
                <small>01/2022 - Atual</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
                <span class="left-container-arrow"></span>
            </div>
        
        </div>

        <div class="container right-container">
            <div class="text-box">
                <h2>Desenvolvedor FullStack</h2>
                <small>01/2022 - Atual</small>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.</p>
                <span class="right-container-arrow"></span>
            </div>
        
        </div>
    </div>
</body>